@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
}


h1 {
    margin: 0px;
}

h2 {
    color: #7ed0df;
    text-align: center;
    font-size: 250%;
    font-family: 'Shadows Into Light', sans-serif;;
}

/* nav bar */

#nav-menu {
    font-size: 110%;
    letter-spacing: 2px; 
    display: flex; 
    justify-content: flex-end;
    margin-top: 10px;
    line-height: 0;
}

#nav-menu > li {
    list-style-type: none;
    margin: -45px 0 40px 10px;
    
}

#nav-menu a {
    text-decoration: none;
    margin: 0 20px; 
    color: #7ed0df;
    font-family: 'Kanit', sans-serif;
}

/* logo */

#logo {
    font-family: 'Shadows Into Light', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #7ed0df;
    font-size: 320%;
    margin-left: 30px;


}

a {
    text-decoration: none;
}

/* Hero image */

#hero-image {
    height: 500px;
    width: 100%;
    background: url("../images/vincent-van-gogh-paintings-database.jpg") no-repeat center center;
    background-size: 100% 100vh;
    background-color: black;
    overflow: hidden;
}

/* About section */

#about-position {
    display: flex;
    align-content: center;
    justify-content: center;
}

.about-box {
    color: black;
    background-color: #7ed0df;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    text-align: justify;
    font-size: 145%;
    font-family: 'Kanit', sans-serif;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    
}

/* TIMELINE */

.timeline {
    height: 250px;
    margin: 1em;
    line-height: 250px;
    position: relative;
    text-align: center;
    overflow: scroll;
  }
  .timeline:before {
    content: '';
    position: absolute;
    width: 500%;
    top: 50%;
    left: 5%;
    height: 26px;
    margin-top: -13px;
    background: white;
  }
  .event {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 20px;
    display: inline-block;
    background: #7ed0df;
    vertical-align: middle;
    border-radius: 50%;
  }
  .detail {
    position: absolute;
    line-height: 1em;
    white-space: nowrap;
    left: 100%;
    color: white;
    font-size: smaller;
  }
  .event:before {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -3px;
    width: 6px;
    background: yellow;
    height: 50px;
  }
  .event.up:before {
    top: -100%;
  }
  .event.down:before {
    top: 100%;
  }
  .up .detail {
    top: -50px;
  }
  .down .detail {
    bottom: -50px;
  }

